#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.page-container {
  display: flex;
  flex-direction: column; /* stack vertically */
  align-items: center; /* center the Title horizontally */
  margin-top: 2rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem; /* add some breathing space inside */
  border: 2px solid rgba(0, 0, 0, 0.1); /* soft, thin border */
  border-radius: 1rem; /* rounded corners */
  background-color: #ffffff; /* light semi-transparent white */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* calm shadow */
  width: fit-content; /* fit around the text nicely */
  margin-top: 1rem; /* small push from top */
  color: #475569;
}

.time-duration-box {
  margin-top: 2rem; /* space below the title */
  margin-left: 40rem; /* push it right compared to center */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* input boxes align nicely */
}

.time-boxes{
  text-align: center;
}

#title-description{
  text-align: center;
}
